PORT=
HOST=
FRONTEND_URL=

MONGO_URI=
DB_MAX_RETIRES=

JWT_ACCESS_SECRET=
JWT_ACCESS_LIFETIME=

JWT_REFRESH_SECRET=
JWT_REFRESH_LIFETIME=

JWT_VERIFY_SECRET=
JWT_VERIFY_LIFETIME=

JWT_RECOVERY_SECRET=
JWT_RECOVERY_LIFETIME=

EMAIL_USER=
EMAIL_PASSWORD=