BACKEND_URL=
FRONTEND_URL=
HOST=
PORT=
MONGO_URI=
DB_MAX_RETIRES=
MAX_SESSIONS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_LIFETIME=
JWT_REFRESH_LIFETIME=

EMAIL_USER=
EMAIL_PASSWORD=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_FIRSTNAME=
SEED_ADMIN_LASTNAME=
SEED_ADMIN_AGE=

EMAIL_SUPPORT=

JWT_VERIFY_SECRET=
JWT_VERIFY_LIFETIME=

JWT_RECOVERY_SECRET=
JWT_RECOVERY_LIFETIME=

AWS_S3_BUCKET_NAME=
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=
AWS_S3_ACL=
AWS_S3_BUCKET_URL=